@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');




* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3a3a3a;

}


.logo {

    color: cadetblue;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;

}

.logo-text {
    display: inline-block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.logo-text-div {
    display: inline-block;
    padding: 10px;
    letter-spacing: 5px;


}

.active {
    border-bottom: 1px solid white;
}

.nav {

    float: right;
    color: white;
    margin-top: 50px;
    margin-right: 100px;
}

.nav a {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    margin-right: 8px;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;

}

.nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.nav a:hover::after {
    width: 100%;
    /* //transition: width .3s; */
}



.logo-div {


    width: 100%;
    display: inline-block;
    background-color: #8fcdff;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: 5px;

}

a {
    text-decoration: none;
}

#quoteBlock {
    background: url('../images/quote-background.jpg') no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
    clear: both;
    text-align: center;
}

.quote-section {
    width: 100%;
    display: inline-block;
}

.quote-content-div {
    background: rgba(17, 17, 17, 0.316);
    width: 100%;
    height: 100%
}

.quoteheader {
    margin-top: 5px;
    display: inline-block;
    color: white;
    clear: both;
    font-size: 20px;
}

#quote-text {
    color: white;
    font-size: 40px;
    line-height: 250px;
}

.left-para-div {
    width: 50%;

    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
}

.right-para-div {
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding: 20px;

}

.paragraph-section {
    margin-top: 40px;
    height: 350px;
}

.outer-para-div {
    height: 300px;
}


.index-para-text {
    padding: 10px;
    line-height: 35px;
    font-size: 18px;

}

#learn-more-btn {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #8fcdff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 5px;
    width: 220px;
    font-size: 20px;
}

#learn-more-btn:hover {
    color: #3a3a3a;
}

.learn-more-btn-div {
    display: flex;

    justify-content: center;
}

.techniques-container {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.section-header {
    margin-left: 20px;

}


.techniques-box {
    display: inline-block;
    border: 2px solid #8fcdff;
    border-radius: 15px;
    width: 20%;
    height: 300px;
    margin: 0 auto;
    transition: 0.4s ease-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.technique-btn {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 15px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 8px;
}

.technique-btn:hover {
    background: #8fcdff;
    color: white;
}

.techniques-section {
    margin-top: 120px;

}

.techniques-box:hover {
    transform: translateY(20px);
}

.techniques-img {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.info {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    text-align: center;
    margin: 0 auto;
}

.card-text {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    color: white;
    padding: 8px
}

.card-text h2 {
    color: #8fcdff;
}

.info:hover {
    opacity: 1;
    transform: translateY(0px);

}

#exercise-card {
    background: url('../images/Exercise.jpg');
    background-size: 100% 100%;

}

#connect-card {
    background: url('../images/connect.jpg');
    background-size: 100% 100%;
}

#diet-card {
    background: url('../images/diet.jpg');
    background-size: 100% 100%;
}

#sleep-card {
    background: url('../images/sleep.jpg');
    background-size: 100% 100%;
}

#stressRelief {
    margin-top: 70px;
}

.stressRelief_div {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . ."
        ". . . . .";
}


.relief {

    transition: transform .4s;
    background-color: #8fcdff;
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.relief:hover {
    transform: scale(1.2);
}

.container-stress {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.relief-img {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
}

.relief p {
    display: block;
    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: 8px;
}


@media screen and (max-width: 1200px) {

    #quote-text {

        font-size: 34px;
        line-height: 15px;
        margin-top: 50px;
    }

    .techniques-section {
        margin-top: 200px;
    }

    .techniques-box {
        width: 50%;
        display: inline-flex;
        margin-bottom: 12px;
    }


}


@media screen and (max-width: 950px) {
    .paragraph-section {
        height: 450px;
    }

    .techniques-box {
        width: 49%;
        display: inline-flex;
        margin-bottom: 12px;
    }

    .techniques-container {
        display: block;
    }

    .techniques-section {
        margin-top: 300px;
    }

    #quote-text {
        line-height: normal;
    }

    .stressRelief_div {
        display: grid;
        grid-template-columns: 120px 120px 120px 120px 120px;
        grid-template-rows: 120px 120px;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            ". . . . . "
            ". . . . . ";
    }

    .relief-img {
        height: 50px;
        width: 50px;
        display: block;
        margin: 0 auto;
    }

    .relief p {
        display: block;
        text-align: center;
        font-size: 12px;
        margin-top: 8px;
    }

    .nav {
        justify-content: center;
        display: flex;
        width: 100%;
        margin: 0px;

    }

    .logo-text {
        font-size: 20px
    }

    .logo-text-div {
        width: 100%;
    }

    .outer-circle {
        display: flex;
        width: 100%;
        justify-content: center;


    }



}

@media screen and (max-width: 800px) {
    .paragraph-section {
        height: 550px;
    }

    .outer-circle {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .logo-text-div {
        width: 100%;
    }

    .left-para-div {

        width: 100%;

    }

    .right-para-div {
        width: 100%;
    }

    #quote-text {
        line-height: normal;
    }

    .learn-more-btn-div {
        width: 100%;
    }

    .techniques-box {
        width: 50%;
    }

    .techniques-container {
        display: block;
        text-align: center;
    }

    .container-stress {
        width: 100%;
    }


}

@media screen and (max-width: 620px) {
    .paragraph-section {
        height: 670px;
    }

    .stressRelief_div {
        display: grid;
        grid-template-columns: 120px 120px;
        grid-template-rows: 120px 120px 120px 120px;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            ". .  "
            ". .  "
            ". .  ";
    }


}

@media screen and (max-width: 550px) {
    .paragraph-section {
        height: 880px;
    }

    .techniques-box {
        width: 100%;
    }

    .techniques-container {
        display: block;
        text-align: center;
    }

}

@media screen and (max-width: 450px) {
    .paragraph-section {
        height: 1000px;
    }

    .info-accordion .accordion {
        font-size: 13px;
    }

    .mindfulness-header {
        font-size: 18px;
    }

    .info-accordion .inner-panel {
        font-size: 12px;
    }

    .panel {
        width: 90%;
    }
}

@media screen and (max-width: 380px) {
    .paragraph-section {
        height: 1200px;
    }

}

@media screen and (max-width: 340px) {
    .paragraph-section {
        height: 1300px;
    }
}

@media screen and (max-width: 324px) {
    .paragraph-section {
        height: 1450px;
    }
}



#carousel-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.podcast-carousel {
    flex: 400px;
}

.app-carousel {

    flex: 400px;
}

.slideshow-container {

    margin-top: 15px;
    max-width: 700px;
    position: relative;
    margin: auto;
    border: 2px solid #8fcdff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #8fcdff;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #8fcdff;
    color: black;
}

.carousel-header {
    margin-bottom: 20px;
    margin-left: 20px;
}

footer {
    position: absolute;
    background-color: #8fcdff;
    width: 100%;
    display: flex;
    justify-content: center;

}

.outer-circle {
    display: inline-flex;
}




/* MindFulness.html page styling */

.accordion {
    background-color: #8fcdff;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.focused,
.accordion:hover {
    background-color: #ccc;
    color: #3a3a3a;
}

.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.focused:after {
    content: "\2212";
}

.panel {
    line-height: 30px;
    width: 100%;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    justify-content: center;
}

.inner-panel {
    font-size: 18px;
    width: 80%;
}

.info-accordion {
    text-align: center;
    margin-top: 20px;
}

.mindfulness-header {
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.more-info-videos {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.outer-video {
    flex: 400px;
    display: flex;
    justify-content: center;

}

.left-video {
    width: 80%;
    overflow: hidden;
}

.right-video {
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

#video-header {
    margin-top: 50px;
    margin-left: 20px;
}

.iframe {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 2px solid #8fcdff;
}

.technique-div-header {
    margin-top: 60px;
    margin-left: 20px;
}

.outer-techniques-div{
 display: flex;
 justify-content: center;
}
.improve-techniques-div {
    margin-bottom: 80px;
    width: 80%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 53%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Exercise Diet"
        "Connect Sleep";
}
.overlay-div{
    background: #211f1f9c;
    height: 100%;
    width: 100%;
    padding: 10px;

}

.Exercise {
    grid-area: Exercise;
    border-right: 2px solid #8fcdff;
    border-bottom: 2px solid  #8fcdff;
    padding: 20px;
    line-height: 25px;
    background-color: #3a3a3a;
    color: white;
    background: url('../images/exercise-big.webp');
    background-size: 100% 100%;
    transition: all 1s;
    font-size: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}
.Exercise:hover{
    transform: scale(1.1);
    
}




.Diet {
    grid-area: Diet;
    border-left: 2px solid #8fcdff;
    border-bottom: 2px solid #8fcdff;
    padding: 20px;
    line-height: 25px;
    background-color: #3a3a3a;
    color: white;
    background: url('../images/diet-big.webp');
    background-size: 100% 100%;
    transition: all 1s;
    font-size: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}
.Diet:hover{
    transform: scale(1.1);
}


.Connect {
    grid-area: Connect;
    border-right: 2px solid #8fcdff;
    border-top: 2px solid #8fcdff;
    padding: 20px;
    line-height: 20px;
    background-color: #3a3a3a;
    color: white;
    background: url('../images/connect-big.webp');
    background-size: 100% 100%;
    transition: all 1s;
    font-size: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.Connect:hover{
    transform: scale(1.1);
}


.Sleep {
    grid-area: Sleep;
    border-left: 2px solid #8fcdff;
    border-top: 2px solid #8fcdff;
    padding: 20px;
    background-color: #3a3a3a;
    color: white;
    background: url('../images/sleep-big.webp');
    background-size: 100% 100%;
    transition: all 1s;
    font-size: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.Sleep:hover{
    transform: scale(1.1);
}


.technique-header {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 9px;
    color: #8fcdff;
}



.diet-technique-list {
    padding: 20px;

}

.connect-technique-list {
    padding: 20px;
}

.sleep-techniques-list {
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .Exercise {
        border: 1px solid #8fcdff;
    }

    .Diet {
        border: 1px solid #8fcdff;

    }

    .Connect {
        border: 1px solid #8fcdff;

    }

    .Sleep {
        border: 1px solid #8fcdff;
    }

    .improve-techniques-div {

        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-auto-flow: row;
        grid-template-areas:
            "Exercise"
            "Diet"
            "Connect"
            "Sleep";
    }
}

/* Support.html Styling */

.support-form-div{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.support-form{
    border: 2px solid #8fcdff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;

}

input[type=text], 
select, 
input[type=email],
input[type=date],
input[type=time] {

    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }