@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3a3a3a;

}


#logo {

    color: cadetblue;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;

}

#logo-text {
    display: inline-block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

#logo-text-div {
    display: inline-block;
    padding: 10px;


}

.nav {
    display: inline-block;
    float: right;
    color: white;
    margin-top: 50px;
    margin-right: 100px;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: 8px;

    font-size: 20px;
    color: white;
    /* transition: color .3s ease-in-out, box-shadow .3s ease-in-out; */
}

.nav a::after {

    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.nav a::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* .nav a:hover{

    box-shadow: inset 100px 0 0 0 #54b3d6 ;

} */





#logo-div {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    display: inline-block;
    background-color: #8fcdff;
}

#circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;

}

a {
    text-decoration: none;
}

#quoteBlock {
    background: url('../images/quote-background.jpg') no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
    clear: both;
    text-align: center;
}

.quote-section {
    width: 100%;
    display: inline-block;
}

.quote-content-div {
    background: rgba(17, 17, 17, 0.316);
    width: 100%;
    height: 100%
}

.quoteheader {
    margin-top: 5px;
    display: inline-block;
    color: white;
    clear: both;
}

#quote-text {
    color: white;
    font-size: 40px;
    line-height: 250px;
}

.left-para-div {
    width: 50%;
    /* border: 1px solid black; */
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
}

.right-para-div {
    width: 50%;
    display: inline-block;
    float: right;
    box-sizing: border-box;
    padding: 20px;
    /* line-height: 50px; */
}

#paragraph-section {
    margin-top: 40px;
}

#paragraph-section p {
    font-size: 17px;
}

.outer-para-div {
    height: 300px;
}


.index-para-text {
    padding: 10px;
    line-height: 30px;

}

#learn-more-btn {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #8fcdff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 5px;
}

#learn-more-btn:hover {
    color: #3a3a3a;
}

.learn-more-btn-div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.techniques-container {
    display: flex;
    justify-content: center;
    padding: 20px;

}

#header-techniques {
    margin-left: 20px;

}

.techniques-box {
    display: inline-block;
    border: 2px solid #8fcdff;
    border-radius: 15px;
    width: 20%;
    height: 300px;
    margin: 0 auto;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(black, 0.5);
}

.technique-btn {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 15px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 8px;
}

.technique-btn:hover {
    background: #8fcdff;
    color: white;
}

.techniques-section {
    margin-top: 60px;

}

.techniques-box:hover {
    transform: translateY(20px);
}

.techniques-img {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.info {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    text-align: center;
    margin: 0 auto;
}

.card-text {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    color: white;
    padding: 8px
}

.card-text h1 {
    color: #8fcdff;
}

.info:hover {
    opacity: 1;
    transform: translateY(0px);

}

#exercise-card {
    background: url('../images/Exercise.jpg');
    background-size: 100% 100%;

}

#connect-card {
    background: url('../images/connect.jpg');
    background-size: 100% 100%;
}

#diet-card {
    background: url('../images/diet.jpg');
    background-size: 100% 100%;
}

#sleep-card {
    background: url('../images/sleep.jpg');
    background-size: 100% 100%;
}

#stressRelief_Books {
    margin-top: 70px;
}

.stressRelief_div {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . .";
}

.relief {
   
    transition: transform .4s;
    background-color: #8fcdff;
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.relief:hover {
    transform: scale(1.2);
}

.container-stress {
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.relief-img {
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
}

.relief p {
    display: block;
    color: white;
    text-align: center;

}